<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_CUSTOM_SEARCH_API_KEY</key>
	<string>YOUR_ACTUAL_API_KEY_HERE</string>
	<key>GOOGLE_CUSTOM_SEARCH_ENGINE_ID</key>
	<string>YOUR_ACTUAL_SEARCH_ENGINE_ID_HERE</string>
</dict>
</plist> 